#wrap{
    width:100%;
    height:100%;
}

#top {
    width: 960px;
    height: 50px;
    margin:0 auto;
}

#main {
    width: 960px;
    height: 100%;
    margin:0 auto;
    clear:both;
}

#midmargin{
    clear:both;
    width: 720px;
    height: 50px;
}

#displayExcelHtml {
    height: 500px;
}

#fileselect {
    width: 50%;
    float: left;
}

#printbutton {
    width: 50%;
    float: left;
    text-align: right;
}

#checkers {
    clear: both;
    width: 100%;
}


.title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}


.links {
    width: 150px;
    float: left;
    text-align: center;
}
p {
    font-family: 'Noto Sans KR';
}






.textbox {
    width: 30px;
    height: 1.3rem;
    margin: 3px;
}

.tName {
    width: 120px;
}
.tAddress {
    width: 400px;
}
.tPhone {
    width: 100px;
}