#wrap{
    width:100%;
    height:100%;
}

#header {
    width: 960px;
    height: 50px;
    margin:0 auto;
}

#footer {
    width: 960px;
    height: 50px;
    margin:0 auto;
}

#main {
    width: 960px;
    height: 720px;
    margin:0 auto;
    clear:both;
}

#main-text {
    text-align: center;
}

#midmargin{
    clear:both;
    width: 720px;
    height: 50px;
}

#buttons {
    width: 70%;
    height: 30px;
    margin:0 auto;
}

#displayExcelHtml {
    height: 420px;
    overflow:auto;
}

#fileselect {
    width: 50%;
    float: left;
}

#printbutton {
    width: 50%;
    float: left;
    text-align: right;
}

#checkers {
    clear: both;
    width: 70%;
    height: 160px;
    margin:0 auto;
}



.title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}


.links {
    width: 150px;
    float: left;
    text-align: center;
}
p {
    font-family: 'Noto Sans KR', sans-serif;
}


table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;    
}




.textbox {
    width: 30px;
    height: 15px;
    margin: 3px;
}

.tName {
    width: 120px;
}
.tAddress {
    width: 400px;
}
.tPhone {
    width: 100px;
}

.checkbox-row {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    float: left;
    clear: both;
}