#wrap{
    width:100%;
    height:100%;
    min-width: 960px;
}

#header {
    width: 100%;
    height: 30px;
    margin: 30px auto;
    
}

#footer {
    width: 960px;
    height: 50px;
    margin:0 auto;
    clear: both;
}

#main {
    width: 100%;
    height: 720px;
    margin:0 auto;
}

#displayExcelHtml {
    width: 70%;
    height: 100%;
    overflow:auto;
    float: left;
    background-color: #fcfcfc;
}

#sidebar {
    width: 30%;
    height: 100%;
    float: left;
    padding: 10px;
}

#main-text {
    text-align: center;
}

#midmargin{
    clear:both;
    width: 720px;
    height: 50px;
}

#buttons {
    width: 100%;
    height: 40px;
    margin:0 auto;
    clear: both;
}


#form {
    width: 100%;
    height: 100%;
}



#fileselect {
    width: 50%;
    float: left;
}

#printbutton {
    width: 100%;
    float: left;
}

#checkers {
    clear: both;
    width: 100%;
    height: 100%;
    margin:0 auto;
}

#contents {
    height: 15%;
}

#hr {
    width: 75%;
    height: 5%;
    clear: both;
    margin:0 auto;
    max-width: 1024px;
}

#features {
    width: 75%;
    height: 75%;
    clear: both;
    margin: 0 auto;
    max-width: 1024px;
}

#brand {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Comfortaa', cursive;
}


.links {
    width: 150px;
    float: left;
    text-align: center;
}
p {
    font-family: 'Noto Sans KR', sans-serif;
}


table {
    width: 100%;
    border-top: 1px solid #c2c2c2;
    border-collapse: collapse;
}



th, td {
    border-bottom: 1px solid #c2c2c2;
    padding: 10px;    
}

td[id^='sjs-A'] {
    width: 15%;
}

td[id^='sjs-B'] {
  width: 65%; 
}

td[id^='sjs-C'] {
  width: 20%; 
  }

.write-mode {
    height: 45px;
}

td.write-mode[id^='sjs-A'] {
    border-right: 1px solid #c2c2c2;
}

td.write-mode[id^='sjs-B'] {
    border-right: 1px solid #c2c2c2;
}


#firsttr {
    background-color: #DDD;
}




#upload {
    width: 600px;
    height: 100%;
    margin: 0 auto;
}

#upload-and-write {
    width: 100%;
    margin: 0 auto;
    float: left;
}


#write {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    float: left;
    display:table-cell;
    vertical-align:middle;
}



.tName {
    width: 120px;
}
.tAddress {
    width: 400px;
}
.tPhone {
    width: 100px;
}

.file-name {
    text-align: center;
}

.checkbox-row {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    float: left;
    clear: both;
    margin: 3px 0;
}